// Font
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

// Colors
$darkBlue: rgb(77, 150, 168);
$lightBlue: rgb(143, 227, 249);
$darkPurple: rgb(133, 95, 177);
$lightPurple: rgb(217, 184, 255);
$black: rgb(40, 40, 61);
$lightGrey: rgb(135, 135, 157);
$white: rgb(250, 250, 250);

// Breakpoints
$laptopLarge: 1440px;
$laptopMedium: 1280px;
$laptopSmall: 1024px;
$tablet: 768px;
$mobileLarge: 425px;
$mobileMedium: 375px;
$mobileSmall: 320px;

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Initialise Styles
body,
button {
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
}

//Hide Y scrollbar but keep functionality
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Typography
.h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: $black;
}

.h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: $black;
}

.overline {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $darkBlue;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: $lightGrey;
}

// Buttons
.button-blue {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  border-radius: 29px;
  background-color: $darkBlue;
  border-style: none;
  color: $white;
  padding: 16px 40px;
  margin: 0 8px;
  transition: 0.1s ease-in;

  span {
    color: $lightBlue;
    margin-left: 4px;
  }

  &:hover {
    background-color: #71c0d4;
    cursor: pointer;
  }
}

.button-purple {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  border-radius: 29px;
  background-color: $darkPurple;
  border-style: none;
  color: $white;
  padding: 16px 40px;
  margin: 0 8px;
  transition: 0.1s ease-in;

  span {
    color: $lightPurple;
    margin-left: 4px;
  }

  &:hover {
    cursor: pointer;
    background-color: #b18bdd;
  }
}

// Start Styles
.main {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100vw;
}

// Logo
.logo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 61px;
}

// Top Section
.hero {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;

  &-tablet {
    display: none;
  }

  &-left {
    position: absolute;
    top: 0;
    left: -30px;
  }

  &-center {
    max-width: 540px;
    height: 304px;
    text-align: center;

    .p {
      margin-top: 34px;
    }
  }

  &-right {
    position: absolute;
    top: 0;
    right: -30px;
  }

  &-buttons {
    margin-top: 32px;
  }
}

// Divider

.divider-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 110px;
  position: relative;
  z-index: 1;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56px;

  &-line {
    border-left: 1px solid $lightGrey;
    height: 84px;
    opacity: 0.25;
  }

  &-text {
    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.3);
    text-align: center;
    padding: 15px;
    height: 56px;
    width: 56px;
    background-color: $white;

    p {
      font-weight: 900;
    }
  }
}

// Information Section
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-imgs {
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    margin-top: 64px;
    column-gap: 30px;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 1110px;

    &__img {
      &:first-child {
        grid-column: 1 / 2;
      }

      &:last-child {
        grid-column: 4 / 5;
      }

      border-radius: 8px;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-text {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-top: 80px;
    margin-left: 24px;
    margin-right: 24px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .h2 {
      margin-top: 16px;
      width: 445px;
    }

    .p {
      margin-top: 32px;
      max-width: 540px;
    }
  }
}

// Footer Section

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: $darkBlue;
  height: 308px;
  z-index: -1;
  bottom: -280px;
  width: 100%;

  &::after {
    content: "";
    background-image: url(../assets/desktop/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
  }

  &-text {
    z-index: 1;
    display: flex;
    margin: 116px 165px 104px 165px;
    width: 1110px;
    justify-content: center;

    &-left {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 3;

      .h2 {
        color: $white;
      }
    }

    &-center {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 2;

      .p {
        color: $white;
      }
    }

    &-right {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 2;
    }
  }
}

//1280px Breakpoint
@media (max-width: $laptopMedium) {
  //Typography
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  //Buttons
  .button-blue {
    font-size: 16px;
    padding: 14px 38px;
  }

  .button-purple {
    font-size: 16px;
    padding: 14px 38px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-tablet {
      display: flex;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    &-left {
      display: none;
    }

    &-center {
      order: 3;
      margin-top: 72px;
      margin-left: 24px;
      margin-right: 24px;
      grid-column: 2 / 6;
      grid-row: 2 / 4;
      justify-self: center;
      width: auto;
    }

    &-right {
      display: none;
    }
  }

  .footer {
    &-text {
      &-left {
        flex: 2;
      }
    }
  }
}

//1024px Breakpoint
@media (max-width: $laptopSmall) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-tablet {
      display: flex;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    &-left {
      display: none;
    }

    &-center {
      order: 3;
      margin-top: 72px;
      grid-column: 2 / 6;
      grid-row: 2 / 4;
      justify-self: center;
    }

    &-right {
      display: none;
    }
  }

  .divider-wrapper {
    margin-top: 80px;
  }

  .footer {
    height: 428px;
    bottom: -400px;

    &::after {
      content: "";
      background-image: url(../assets/desktop/image-footer.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-left {
        margin-bottom: 32px;
      }

      &-center {
        margin-bottom: 40px;
        width: auto;
        text-align: center;
      }
    }
  }
}

//768px Breakpoint
@media (max-width: $tablet) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-tablet {
      display: flex;
      position: absolute;
      top: 0;
      left: -30px;

      &__img {
        width: 104%;
        height: 105%;
      }
    }

    &-left {
      display: none;
    }

    &-center {
      order: 3;
      margin-top: calc(65% - 80px);
      grid-column: 2 / 6;
      grid-row: 2 / 4;
      justify-self: center;
    }

    &-right {
      display: none;
    }
  }

  .info {
    &-imgs {
      column-gap: 11px;
    }

    &-text {
      margin-top: 48px;
    }
  }

  .footer {
    text-align: center;
    &::after {
      background-image: url(../assets/tablet/image-footer.jpg);
    }
  }
}

//425px Breakpoint
@media (max-width: $mobileLarge) {
  //Typography
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 32px;
  }

  //Buttons
  .button-blue {
    margin-bottom: 16px;
  }

  .hero {
    margin-bottom: 64px;
  }

  .info {
    &-imgs {
      grid-template-columns: (2, 1fr);
      grid-template-rows: auto auto auto;
      column-gap: 0;
      gap: 24px;

      &__img {
        &:first-child {
          grid-column: 1 / 2;
        }

        &:last-child {
          grid-column: 2 / 3;
        }

        max-width: 100%;
        max-height: 100%;
      }
    }

    &-text {
      width: auto;
      margin-left: 24px;
      margin-right: 24px;
      .h2 {
        margin-top: 16px;
        width: 100%;
      }
    }
  }

  .footer {
    bottom: -350px;
    height: 375px;
    &-text {
      margin: 92px 24px 72px;
      align-items: center;
    }
  }
}

//375px Breakpoint
@media (max-width: $mobileMedium) {
  .hero {
    &-center {
      margin-top: 200px;
    }
  }
}
